@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Itim&family=Mr+Dafoe&family=Mynerve&family=Noto+Serif+Tamil&family=Source+Serif+Pro:wght@200&display=swap');
*{
    padding: 0;
    margin:0;
    border: 0;
}
#titulo{
    font-family: 'Gajraj One', cursive;
    font-size: 2rem;
    padding-left: 9%;
}
.navbar-nav{
    font-family: 'Mynerve', cursive;
    color:wheat;
    font-size: 1.5rem;
    padding-right: 9%;
    gap: 5%;
}

#txt{
    font-family: 'Itim', cursive;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 5% 0% 5%;
    text-shadow: 4px 3px 4px rgb(1, 80, 1);
}
#ess{
    display: grid;
    gap:6%;
}
#ess img{
    cursor: pointer;
}
#xd{
    display: flex;
    width: 115px;
    height: 100px;
}
#rede{
    display: grid;
    padding-right: 7%;
    padding-top: 3%;
}
.asa{
    padding-left: 29%;
}