/* .contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}
.p1{
    background-color: red;
}
.p2{
    background-color: rebeccapurple;
}
.p3{
    background-color:blue ;
} */
